.footer {
	width: 100%;
	padding: 35px 0;
	background-color: var(--primary);

	&__top {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
	}

	&__contacts {
		display: flex;
		flex-direction: column;
		align-items: flex-end;

		&-address {
			font-weight: 500;
			font-size: 16px;
			line-height: 1.5;
			color: var(--white);
		}

		&-tel {
			margin-top: 15px;
			font-weight: 500;
			font-size: 16px;
			line-height: 1.5;
			color: var(--white);
			text-align: right;
		}
	}

	&__bot {
		margin-top: 15px;
		display: flex;
		flex-direction: column;
		gap: 10px;
	}

	&__agreement,
	&__policy {
		text-align: center;
		font-size: 14px;
		font-weight: 500;
		color: var(--white);
	}
}

.footer {
	&__top {
		flex-direction: column;
		align-items: center;
		row-gap: 20px;
	}

	&__contacts {
		align-items: center;
	}

	&__bot {
		margin-top: 20px;
	}
}
