.header {
	padding: 25px 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 3;

	&__wrapper {
		display: flex;
		align-items: center;
	}

	&__menu {
		display: flex;
		align-items: center;
		margin-left: auto;
	}

	.nav {
		&__list {
			display: flex;
			align-items: center;
			column-gap: 50px;
		}

		&__link {
			font-size: 16px;
			font-weight: 500;
			color: var(--white);
			transition: all 0.2s linear;

			@media (hover: hover) {
				&:hover {
					color: var(--primary);
				}
			}

			@media (hover: none) {
				&:active {
					color: var(--primary);
				}
			}
		}
	}

	&__tel {
		margin-left: 50px;
		font-weight: 600;
		font-size: 16px;
		color: var(--white);
		transition: all 0.2s linear;

		@media (hover: hover) {
			&:hover {
				color: var(--primary);
			}
		}

		@media (hover: none) {
			&:active {
				color: var(--primary);
			}
		}
	}

	&__btn {
		margin-left: 50px;
	}

	.hamburger {
		margin-left: auto;
		display: none;
		width: 30px;
		height: 18px;
		flex-direction: column;
		align-items: end;
		justify-content: center;
		z-index: 4;

		span {
			width: 27px;
			height: 1.5px;
			background: var(--white);
			position: relative;
			transition: all 0.3s;
			&::before {
				content: '';
				width: 27px;
				height: 1.5px;
				position: absolute;
				left: 0;

				background: var(--white);
				transition: all 0.3s;
				transform: translateY(-9px);
			}
			&::after {
				content: '';
				width: 27px;
				height: 1.5px;
				position: absolute;
				left: 0;

				background: var(--white);
				transition: all 0.3s;
				transform: translateY(9px);
			}
		}
	}
}

@media (max-width: 1400px) {
	.header {
		.nav {
			&__list {
				column-gap: 30px;
			}
		}

		&__tel {
			margin-left: 30px;
		}

		&__btn {
			margin-left: 30px;
		}
	}
}

@media (max-width: 1024px) {
	.header {
		padding: 15px 0;
		position: sticky;
		z-index: 5;

		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: var(--primary);
			z-index: 2;
		}

		&__logo {
			z-index: 2;
		}

		&--active {
			.hamburger span {
				width: 27px;
				height: 1.5px;
				position: relative;
				background: transparent;
				&::before {
					transform: rotate(45deg);
				}
				&::after {
					transform: rotate(-45deg);
				}
			}
		}

		&__menu {
			width: 100%;
			height: 0;
			position: fixed;
			top: 54px;
			left: 0;
			display: flex;
			flex-direction: column;
			background-color: var(--white);
			transition: all 0.2s linear;
			overflow: hidden;
		}

		.nav {
			padding-top: 20px;

			&__list {
				flex-direction: column;
				row-gap: 20px;
			}

			&__link {
				font-size: 18px;
				color: var(--text);
			}
		}

		&__tel {
			margin: 30px 0 0;
			font-size: 18px;
			color: var(--text);
		}

		&__btn {
			min-height: 50px;
			margin: 20px 0 20px;
		}

		.hamburger {
			display: flex;
		}
	}
}
